{% extends 'base.html' %}

{% block content%}
<div id="carouselExample" class="carousel slide">
<div class="carousel-inner">
    <div class="carousel-item active">
        <img src="https://plus.unsplash.com/premium_photo-1663089920014-4ff29cd209f3?fm=jpg&q=60&w=3000&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8ZXN0dWRpYW50ZXMlMjBkZSUyMGxhJTIwZXNjdWVsYXxlbnwwfHwwfHx8MA%3D%3D" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
        <img src="https://img.freepik.com/foto-gratis/retrato-amigos-adolescentes-como-grupo-genial_23-2149260525.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSwVsWqtbExVuEGeg6Rz8hP9ibfB0Q5FicMpg&s" class="d-block w-100" alt="...">
    </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
    </button>
</div>
{% endblock%}